<html>
<head><title>Parser speed</title></head>
<body>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
<bp:sig text="world" hello="true" foo="bar"/><br>
</body>
</html>