<html><body>
A signature with content:
<bp:draw_div width="500" height="300" color="red" border="false">
	<bp:draw_div width="400" height="260" color="yellow" border="false">
		Im content:
		<bp:draw_div width="10" height="10" color="green" border="true"/>
		<bp:draw_div width="10" height="10" color="green" border="true"/>
		<bp:draw_div width="10" height="10" color="green" border="true"/>
		<bp:draw_div width="10" height="10" color="green" border="true"/>
		End
	</bp:draw_div>
	<bp:draw_div width="400" height="20" color="blue" border="false">
		hello world
	</bp:draw_div>
</bp:draw_div>
</body></html>