<div class="window-container"
     [style.width.px]="width"
     [style.height.px]="height"
     [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)'"
     *ngIf="isVisible">

  <div class="window-resize-left" (mousedown)="doStartResizeFrom('left')"></div>
  <div class="window-resize-right" (mousedown)="doStartResizeFrom('right')"></div>
  <div class="window-resize-top" (mousedown)="doStartResizeFrom('top')"></div>
  <div class="window-resize-bottom" (mousedown)="doStartResizeFrom('bottom')"></div>
  <div class="window-resize-topLeft" (mousedown)="doStartResizeFrom('topLeft')"></div>
  <div class="window-resize-topRight" (mousedown)="doStartResizeFrom('topRight')"></div>
  <div class="window-resize-bottomRight" (mousedown)="doStartResizeFrom('bottomRight')"></div>
  <div class="window-resize-bottomLeft" (mousedown)="doStartResizeFrom('bottomLeft')"></div>

  <!--(mousedown)="doMouseDownDrag($event)"
  (window:mouseup)="doMouseUp($event)">-->
  <!--<div class="resize-action" (mousedown)="doMouseDownResize($event)"></div>-->
  <!--<span>{{width | number:'1.0-0'}}px</span>
  <span>{{height | number:'1.0-0'}}px</span>
  <span>({{left}}, {{top}})</span>-->
</div>
