
.window-container {
  --window-resizeAreaPixelSize: 5px;
  background-color: aliceblue;
  border: 1px solid black;
}

.window-resize-left {
  position: fixed;
  left: 0%;
  top: var(--window-resizeAreaPixelSize);
  width: var(--window-resizeAreaPixelSize);
  height: calc(100% - var(--window-resizeAreaPixelSize));
  background: blue;
}

.window-resize-right {
  position: fixed;
  left: 100%;
  top: var(--window-resizeAreaPixelSize);
  width: var(--window-resizeAreaPixelSize);
  height: calc(100% - var(--window-resizeAreaPixelSize));
  background: cyan;
}

.window-resize-top {
  position: fixed;
  left: var(--window-resizeAreaPixelSize);
  top: 0%;
  height: var(--window-resizeAreaPixelSize);
  width: calc(100% - var(--window-resizeAreaPixelSize));
  background: black;
}

.window-resize-bottom {
  position: fixed;
  left: var(--window-resizeAreaPixelSize);
  top: 100%;
  height: var(--window-resizeAreaPixelSize);
  width: calc(100% - var(--window-resizeAreaPixelSize));
  background: magenta;
}

.window-resize-topLeft {
  position: fixed;
  left: 0%;
  top: 100%;
  width: var(--window-resizeAreaPixelSize);
  height: 5px;
  background: orange;
}

.window-resize-topRight {
  position: fixed;
  left: 100%;
  top: 0%;
  width: var(--window-resizeAreaPixelSize);
  height: var(--window-resizeAreaPixelSize);
  background: violet;
}

.window-resize-bottomRight {
  position: fixed;
  left: 100%;
  top: 100%;
  width: var(--window-resizeAreaPixelSize);
  height: var(--window-resizeAreaPixelSize);
  background: green;
}

.window-resize-bottomLeft {
  position: fixed;
  left: 0%;
  top: 100%;
  width: var(--window-resizeAreaPixelSize);
  height: var(--window-resizeAreaPixelSize);
  background: purple;
}
