<div class="window-container"
     [style.width.px]="width"
     [style.height.px]="height"
     [style.top.px]="0"
     [style.left.px]="0"
     [style.transform]="'translate3d(' + left + 'px,' + top + 'px,' + '0px)!important'"
     *ngIf="isVisible">

  <div class="window-resize-left" (mousedown)="doStartResizeFrom($event, resizeStartLocations.Left)"></div>
  <div class="window-resize-right" (mousedown)="doStartResizeFrom($event, resizeStartLocations.Right)"></div>
  <div class="window-resize-top" (mousedown)="doStartResizeFrom($event, resizeStartLocations.Top)"></div>
  <div class="window-resize-bottom" (mousedown)="doStartResizeFrom($event, resizeStartLocations.Bottom)"></div>
  <div class="window-resize-topLeft" (mousedown)="doStartResizeFrom($event, resizeStartLocations.TopLeft)"></div>
  <div class="window-resize-topRight" (mousedown)="doStartResizeFrom($event, resizeStartLocations.TopRight)"></div>
  <div class="window-resize-bottomRight" (mousedown)="doStartResizeFrom($event, resizeStartLocations.BottomRight)"></div>
  <div class="window-resize-bottomLeft" (mousedown)="doStartResizeFrom($event, resizeStartLocations.BottomLeft)"></div>

  <!--(mousedown)="doMouseDownDrag($event)"
  (window:mouseup)="doMouseUp($event)">-->
  <!--<div class="resize-action" (mousedown)="doMouseDownResize($event)"></div>-->
  <!--<span>{{width | number:'1.0-0'}}px</span>
  <span>{{height | number:'1.0-0'}}px</span>
  <span>({{left}}, {{top}})</span>-->
</div>
