

.mat-button-toggle-checked {
  background-color: #000000 !important;
  color: #FF0000 !important;
}

.mat-button-toggle {
  background-color: #BABABA;
  color: white;
}

.mat-button-toggle-group {

}



.tag-container {
  display: inline-block;
  background-color: #EAEAEA;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
  float: right;
  position: sticky;
  top: 8em;
  padding: 1em 1em 1em 1em;
}


