.note-container {
  background-image: linear-gradient(350deg, #FFFFFF, #EEEEEE);
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  padding: 5px;
}

.tags-container {
  margin: 0 auto;
  width: 25%;
}

.note-tag {
  color: #00AAEE;
  font-weight: bold;
}

.note-tag-container {
  padding-bottom: 4px;
  border-bottom: 1px solid black;
  display: flex;
  width: 100%;
/*  align-items: flex-start;*/
  justify-content: space-between;
/*  text-align: center;*/
}

.tag-spacer {
    width: 10px;
}

.note-tag-area{
    width: 100%;
    /*border: 1px solid green;*/
}

.note-buttons {
    width: 33vh;
    /*border: 1px solid red;*/
}
