<div class="note-container">
  <div *ngIf="!isEditing" (dblclick)="enterEdit()">
    <div style="display: flex">
      <div class="note-tag-container">
        <div class="note-tag-area">
          <b>Tags:&nbsp;</b> <span *ngFor="let tag of note!.tags" class="note-tag">{{tag.name}}&nbsp;</span>
        </div>
        <div class="tag-spacer"></div>
        <div class="note-buttons">
          <button mat-raised-button color="primary" (click)="enterEdit()">Edit</button>&nbsp;
          <button mat-raised-button color="accent" (click)="deleteNote()">Delete</button>
        </div>
      </div>
    </div>

    <div [innerHTML]="note!.content" class="no-search"></div>
  </div>

  <div *ngIf="isEditing">
    <app-note-editor [note]="note" leftButtonText="Cancel" rightButtonText="Save" [allTags]="allTags"
                     (onLeftButtonClick)="doCancel()" (onRightButtonClick)="doSave($event)"></app-note-editor>
  </div>
</div>
