<div class="note-container">
  <div *ngIf="!isEditing" (dblclick)="enterEdit()">
    <div class="note-tag-area">
      <b>Tags:&nbsp;</b> <span *ngFor="let tag of note!.tags" class="note-tag">{{tag.name}}&nbsp;</span>
    </div>

    <div [innerHTML]="note!.content" class="no-search"></div>
  </div>

  <div *ngIf="isEditing">
    <app-note-editor [note]="note" leftButtonText="Cancel" rightButtonText="Save" [allTags]="allTags"
                     (onLeftButtonClick)="doCancel()" (onRightButtonClick)="doSave($event)"></app-note-editor>
  </div>
</div>
