.tags-container {
  margin: 0 auto;
  width: 15em;
}

.tags-items-container{

}

.tags-items-item{
    font-weight: normal;
}

.tags-items-item-selected {
    font-weight: bold;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
