<div class="tags-container">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tags:</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>

    <!--<div class="tags-items-container" *ngFor="let tag of suggestedTags">
    <div class="tags-items-item">{{tag.name}}</div>
  </div>-->
  </mat-form-field>
</div>
