.tags-container {
  margin: 0 auto;
  width: 75%;
}

.tags-items-container{

}

.tags-items-item{
    font-weight: normal;
}

.tags-items-item-selected {
    font-weight: bold;
}


.example-chip-list {
  width: 100%;
}
