.tag-container {
  display: inline-block;
  /* background-image: linear-gradient(350deg, #FFFFFF, #EEEEEE);*/
  background-color: white;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
  padding: 4px;
  float: right;
  position: sticky;
  top: 8em;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

/* mat-button-toggle styles the elements aka tags in this case */

/* Temporarily disabled custom style */
/*
.mat-button-toggle-checked {
  background-color: #00AAEE !important;
  color: #000000 !important;
  font-weight: bold;
}

.mat-button-toggle {
  background-color: #FFFFFF;
  color: #00AAEE;

}

.mat-button-toggle-group {
}*/



