.notes-container
{
  border: 1px solid black;
}

.note-container
{
  border: 1px solid black;
}

.note-headline
{
  border: 1px solid black;
}

.note-tags
{
  border: 1px solid black;
}

.note-buttons
{
  border: 1px solid black;
}

.note-content
{
  border: 1px solid black;
}

.tags-container
{
  border: 1px solid black;
}

.tag
{
  border: 1px solid black;
}

.search
{
  border: 1px solid red;
}

.create-note
{
  border: 1px solid green;
}


@media (max-width: 400px) {
  .notes-tags-selection {
    fxLayout: "column";
  }
  .tags-container {
    position: sticky;
/*    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
  }
  .spacer {
      visibility: hidden;
  }
}
@media (max-width: 800px) {
  .notes-tags-selection {
    fxLayout: "row";
  }
  .tags-container {
    /*position: sticky;*/
    position: sticky;
  }
  .spacer {
    visibility: visible;
  }
}
