@use '@angular/material' as mat;
@use '/src/app/Themes/_carousel-theme' as carousel;

/* Now that there's a custom theme this is no longer required */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

// TODO: https://material.angular.io/guide/theming-your-components
// See also: https://indepth.dev/tutorials/angular/angular-material-theming-system-complete-guide
// For custom components, check out how mat-button does it's theming https://github.com/angular/components/blob/0d3a730631fae77ce4af49b4b9853da2a5fe09f9/src/material/button/_button-theme.scss#L64
// Angular pallettes: https://github.com/angular/components/blob/main/src/material/core/theming/_palette.scss

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(
    $font-family: arial
  )
));
@include mat.all-component-themes($my-theme);

/* The main page container, this includes everything displayed */
.page-container {
  background-image: linear-gradient(350deg, #C5E5FC, #a5c5dC);
}
