@use '@angular/material' as mat;
@use '/src/app/Themes/_carousel-theme' as carousel;

/* Now that there's a custom theme this is no longer required */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

// TODO: https://material.angular.io/guide/theming-your-components
// See also: https://indepth.dev/tutorials/angular/angular-material-theming-system-complete-guide
// For custom components, check out how mat-button does it's theming https://github.com/angular/components/blob/0d3a730631fae77ce4af49b4b9853da2a5fe09f9/src/material/button/_button-theme.scss#L64
// Angular pallettes: https://github.com/angular/components/blob/main/src/material/core/theming/_palette.scss

@include mat.core();

/*$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
*/

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$contrast-color: white;

$monster-palette: (
  50 :   #eef4ff,
  100 :  #c5cbe9,
  200 :  #9fa8da,
  300 :  #7985cb,
  400 :  #5c6bc0,
  500 :  #3f51b5,
  600 :  #394aae,
  700 :  #3140a5,
  800 :  #29379d,
  900 :  #1b278d,
  A100 : #ef21a6,
  A200 : #ffd966,
  A400 : #f6b26b,
  A700 : #b9551c,
  contrastDarkColors: (
    100,
    200,
    300,
    A100,
    A200,
    A400
  ),
  contrast: (
    50   : $contrast-color,
    400  : $contrast-color,
    500  : $contrast-color,
    600  : $contrast-color,
    700  : $contrast-color,
    800  : $contrast-color,
    900  : $contrast-color,
    A700 : $contrast-color
  )

    );

// $my-primary: mat.define-palette($monster-palette, 500);
// $my-accent: mat.define-palette($monster-palette, A100, A200, A400);

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);


$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: mat.define-typography-config(
    $font-family: arial
  )
));
@include mat.all-component-themes($my-theme);
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

/* The main page container, this includes everything displayed */
.page-container {
    overflow: hidden;
}
