
<div *ngIf="!isLoggedIn" class="login-container">
  <h1>Welcome to MyNotebook - Please login</h1>
  <app-login (onLogin)="doLogin($event)"></app-login>
</div>

<div *ngIf="isLoggedIn">
  <div class="main-title">
    <h1>My Notebook</h1>
  </div>

  <br />
  <div style="position: fixed; width: 100%; z-index: 1">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div></div>
      <app-logout (onLogout)="doLogout()"></app-logout>
    </div>
    <div id="create-search-container" fxLayout="row" fxLayoutAlign="space-between center">
      <!--<app-new-note (onCreateNote)="doCreateNote($event)" [allTags]="allTags"></app-new-note>-->
      <app-create-note (onCreateNote)="doShowCreateNote()"></app-create-note>
      <app-new-note (onCreateNote)="doCreateNote($event)" [allTags]="allTags"></app-new-note>
      <app-search (onSearch)="doSearch($event)"></app-search>
    </div>
  </div>

  <div class="main-container">
    <app-tags (tagsChanged)="doTagsChanged($event)" [selectedTags]="selectedTags" [allTags]="allTags"></app-tags><!--(newItemEvent)="updateTags($event)"-->
    <app-notes [selectedNotes]="selectedNotes"
               [allTags]="allTags"
               (onEditNote)="doEditNote($event)"
               (onDeleteNote)="doDeleteNote($event)">
    </app-notes>
  </div>
</div>
