
<div *ngIf="!isLoggedIn" class="login-container">
  <h1>Welcome to MyNotebook - Please login</h1>
  <app-login (onLogin)="doLogin($event)"></app-login>
</div>

<div *ngIf="isLoggedIn">


  <br />
  <div class="main-container">
    <div style="width: 100%; z-index: 1">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div></div>
        <div class="main-title">
          <h1>My Notebook</h1>
        </div>
        <app-logout (onLogout)="doLogout()" style="margin-right: 50px;"></app-logout>
      </div>
      <div id="create-search-container" fxLayout="row" fxLayoutAlign="space-between center">
        <!--<app-new-note (onCreateNote)="doCreateNote($event)" [allTags]="allTags"></app-new-note>-->
        <app-create-note (onCreateNote)="doShowCreateNote()" style="margin-left: 50px;"></app-create-note>
        <app-new-note (onCreateNote)="doCreateNote($event)" [allTags]="allTags"></app-new-note>

        <app-search (onSearch)="doSearch($event)" style="margin-right: 50px;"></app-search>
      </div>
      <!--[ngStyle.sm]="{'height.px': '100'}"-->
      <div fxLayout="row" fxLayoutAlign="space-between start">
<!--        <div style="width: 200px;">asdfsafd</div>-->
        <div fxFlex="80" style="" class="note-container">
          <app-notes fxFlex="100" [selectedNotes]="selectedNotes"
                     [allTags]="allTags"
                     (onEditNote)="doEditNote($event)"
                     (onDeleteNote)="doDeleteNote($event)">
          </app-notes>

        </div>


        <div fxFlex="15" [ngStyle.sm]="{'font-weight': 'bolder'}">
          <app-tags (tagsChanged)="doTagsChanged($event)" [selectedTags]="selectedTags" [allTags]="allTags"></app-tags>
        </div>
      </div>
    </div>
  </div>
</div>
