
<div *ngIf="!isLoggedIn" class="login-container">
  <h1>Welcome to MyNotebook - Please login</h1>
  <app-login (onLogin)="doLogin($event)"></app-login>
</div>

<div *ngIf="isLoggedIn">

  <app-new-note (onCreateNote)="doCreateNote($event)" [allTags]="allTags"></app-new-note>

  <br />
  <div class="main-container">
    <div style="width: 100%; z-index: 1">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="height:100px">
        <div></div>
        <div class="main-title">
          <h1>My&nbsp;Notebook</h1>
        </div>
        <app-logout (onLogout)="doLogout()" style="margin-right: 50px;"></app-logout>
      </div>
      <div id="create-search-container" fxLayout="row" fxLayoutAlign="space-between center">
        <!--<app-new-note (onCreateNote)="doCreateNote($event)" [allTags]="allTags"></app-new-note>-->
        <app-create-note (onCreateNote)="doShowCreateNote()" style="margin-left: 50px;"></app-create-note>

        <app-search (onSearch)="doSearch($event)" style="margin-right: 50px;"></app-search>
      </div>




      <div fxLayout="row" fxLayout.xs="column" [ngStyle.xs]="{'height': '60vh'}" fxLayoutAlign="space-evenly start"
           class="fade-container-bottom">
        <div style="width: 82%; " [ngStyle.xs]="{'width': '100%'}" class="fade-container-top">
          <app-notes fxFlex="100" [selectedNotes]="selectedNotes" class="note-container"
                     [allTags]="allTags"
                     (onEditNote)="doEditNote($event)"
                     (onDeleteNote)="doDeleteNote($event)">
          </app-notes>

        </div>
        <div style="width: 10px;"></div>
        <div fxFlex="15" style="background-color:red;">
          <app-tags (tagsChanged)="doTagsChanged($event)" [selectedTags]="selectedTags" [allTags]="allTags"></app-tags>
        </div>
      </div>
    </div>
  </div>
</div>
