<div class="search-container">
  <div class="search-elements">
    <!--<mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput placeholder="" (keyup)="doSearch($event)" [(ngModel)]="searchText">
    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>-->

    <div class="mb-3" fxLayout="row">
      <div for="searchInput" class="form-label">🔎</div>
      <input type="text" class="form-control" id="searchInput" placeholder="search"
             (keyup)="doSearch($event)" [(ngModel)]="searchText">
      <button *ngIf="searchText" matSuffix  aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </div>









  </div>
</div>
